object {
    pointer-events: none;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    width: 400px;
    max-width: 80%;
    padding: 50px;
    border: 1px solid #DDD;
    border-radius: 10px;
}

.login-form .actions {
    display: flex;
    justify-content: space-between;
}

div#mainav li, div#mainav2 li{
    display: inline-flex;
    margin-bottom: 5px;
}

div#mainav li a {
    background: grey;
    color: white;
    border-radius: 5px;
    padding: 6px;
}

div#mainav {
    margin-top: 30px;
    margin-bottom: 25px;
}